
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>FUNDACIÓN PARAGUAYA | Bienvenidos.</title>

<meta name="description" content="" />
<meta name="keywords" content="" />

<meta name="googlebot" content="Index, Follow" />
<meta name="robots" content="all" />
<meta name="author" content="PUNTOPY / DIGITAL AGENCY" />

<link rel="shortcut icon" href="favicon.ico" />
<link href="css/fundacionparaguaya.css" rel="stylesheet" type="text/css" />
<link href="css/programacion.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/selectivizr-min.js"></script>
<script type="text/javascript" src="js/modernizr-2.5.3.js"></script>
<script type="text/javascript" src="js/easySlider1.7.js"></script>

<!-- By Dennis Bareiro -->
<script type="text/javascript">
    $(document).ready(function(){
    
        <!-- "DesplegarMenuHeader" -->
        $('.down').click(function(){
            var id=$(this).attr('id');
            $('.'+id).slideToggle('normal');
        })
        
        <!-- "DesplegarBotonesFooter" -->
        $('#menufooter li').hover(function(){
            var dato=$(this).attr('class');
            $('.'+dato+' div').animate({'top':'-30px'}, 200);
        },function(){
            var dato=$(this).attr('class');
            $('.'+dato+' div').animate({'top':'0'},50);
        })
		
		$('#txt_busqueda')
			.focus(function(){
				if($(this).val() == 'Buscar...'){ $(this).val(''); }
			})
			.blur(function(){
				if($(this).val() == ''){ $(this).val('Buscar...'); }
			});
    })
 </script>
 
<script src="js/application.js" type="text/javascript"></script>

<!--[if IE]>
    <style>
		#txt_busqueda{ border:0; }
	</style>
<![endif]-->


<!--[if IE 7]>
    <style>
		.headerbottom{
        	height:110px;
        }
        
        #contenedor{ padding:0; }

	</style>
<![endif]-->

<link type="text/css" href="css/banner_principal.css" rel="stylesheet" media="screen" />    
	<script type="text/javascript">
		$(document).ready(function(){	
			$("#slider").easySlider({
				auto: true, 
				continuous: true,
				controlsShow:	false,
			});
			$('#slider').css({'width':'2500px'});
		});	
	</script>
    
<link rel="image_src" href="images/logo_fundacionparaguaya_fb.jpg" />
</head>

body class="esp">

	<div class="bg">
        <div class="bgheader">
        	<div class="s960 divcentrado" id="header">
				  
			<div class="headertop">
                	<ul class="botonera">
                    	<li><a href="./" title="Inicio"><img src="images/btn_inicio.png" width="36" height="37" alt="Inicio" /></a></li>
                        <li><a id="btn_quienes" href="quienes.php" title="Quiénes Somos">QUIÉNES SOMOS</a></li>
                        <li><a id="btn_involucrate" href="involucrate.php" title="Involucrate">INVOLÚCRATE</a></li>
                        <li><a id="btn_noticias" href="noticias.php" title="Noticias">NOTICIAS</a></li>
                        <li><a id="btn_contactenos" href="contactenos.php" title="Contactenos">CONTÁCTENOS</a></li>
                    </ul><!-- fin botonera -->
                    
                    <div class="hoteles right">
                    	<a href="javascript:;" title="Hoteles Escuela" class="down" id="hoteles_btn">HOTELES ESCUELA ></a>
                        <ul class="s140 hoteles_btn">
						
                         

						<li><a href="http://www.hotelcerrito.com.py/" target="_blank" title="Hotel Cerrito"> Hotel Cerrito</a></li>
                            
						<!--	<li><a href="http://www.hotelcerrito.com.py" target="_blank" title="Hotel Cerrito">Hotel Cerrito</a></li>	
							<li><a href="hotel_belen.php" title="Hotel Belen">Hotel Belén</a></li>
                            <li><a href="hotal_mbaracayu.php" title="Hotel Mbaracayu">Hotel Mbaracayu</a></li> -->
                        

						<li><a href="Editar Enlace" target="_blank" title="Hotel Belén"> Hotel Belén</a></li>
                            
						<!--	<li><a href="http://www.hotelcerrito.com.py" target="_blank" title="Hotel Cerrito">Hotel Cerrito</a></li>	
							<li><a href="hotel_belen.php" title="Hotel Belen">Hotel Belén</a></li>
                            <li><a href="hotal_mbaracayu.php" title="Hotel Mbaracayu">Hotel Mbaracayu</a></li> -->
                        

						<li><a href="Editar Enlace" target="_blank" title="Hotel Mbaracaju"> Hotel Mbaracaju</a></li>
                            
						<!--	<li><a href="http://www.hotelcerrito.com.py" target="_blank" title="Hotel Cerrito">Hotel Cerrito</a></li>	
							<li><a href="hotel_belen.php" title="Hotel Belen">Hotel Belén</a></li>
                            <li><a href="hotal_mbaracayu.php" title="Hotel Mbaracayu">Hotel Mbaracayu</a></li> -->
                       
					   </ul>
                    </div><!-- fin hoteles -->
                </div><!-- fin headertop -->
                
				            	<div class="headerbottom">
                	<div class="logotipo"><a href="./" title="Fundacion Paraguaya"><img src="images/logo_fundacionparaguaya.jpg" width="183" height="108" alt="Fundación Paraguaya" /></a></div><!-- fin logotipo -->
                    
                    <div class="sedes s180 left">
                    	<h3>SEDES EN OTROS PAÍSES</h3>
                        <a href="javascript:;" title="Sedes" class="down" id="sedes_btn"><img src="images/flecha_abajo.jpg" width="15" height="15" alt="ver sedes" /></a>
                        <ul class="s140 sedes_btn">
                            <li><a href="esc_autosuficientes.php?tipo=contenido&id=42" title="Tanzania">Tanzania</a></li>
                            <li><a href="http://www.teachamantofish.org.uk/es/home.php" target="blanck" title="Reino Unido">Reino Unido</a></li>
                        </ul>
                    </div><!-- fin sedes -->
                    
                    <div class="right s380">
                        <div class="idiomas s160 left">
                        	<h3><a id="espanol" href="./" title="Español">> ESPAÑOL</a></h3>
                        	<h3><a id="english" href="../en/index.php" title="English">> ENGLISH</a></h3>
                        </div><!-- fin idiomas -->
                        <form action="" method="post"  class="right s200" id="buscador" name="buscador">
                            <input id="txt_busqueda" name="txt_busqueda" type="text" value="Buscar..." />
                            <a href="#" onclick="if(($('#txt_busqueda').val()!='') && ($('#txt_busqueda').val()!='Buscar...')){ location.href='busqueda.php?buscar='+$('#txt_busqueda').val(); }else{ alert('Ingrese la informacion a buscar'); }" title="Buscar"><img src="images/ico_buscador.png" width="26" height="26" alt="Buscar" /></a>
                        </form><!-- fin buscador -->
                    </div><!-- fin right -->
                </div><!-- fin headerbottom -->                
            </div><!-- fin header -->
        </div><!-- fin bgheader -->
        
        <div class="bgcontenido">
			            <div id="slider" style="width:1800px !important;">
            	<ul>
											<li><img src="images/1337694311.jpg" width="1500" height="385" alt="Fundación Paraguaya" /></li>
												<li><img src="images/1337694321.jpg" width="1500" height="385" alt="Fundación Paraguaya" /></li>
												<li><img src="images/1337694336.jpg" width="1500" height="385" alt="Fundación Paraguaya" /></li>
												<li><img src="images/1337694346.jpg" width="1500" height="385" alt="Fundación Paraguaya" /></li>
												<li><img src="images/1337718089.jpg" width="1500" height="385" alt="Fundación Paraguaya" /></li>
												<li><img src="images/1337718738.jpg" width="1500" height="385" alt="Fundación Paraguaya" /></li>
												<li><img src="images/1337717805.jpg" width="1500" height="385" alt="Fundación Paraguaya" /></li>
						                </ul>
            </div><!-- fin slider -->                
        
    		<!--<div class="s960 divcentrado" id="contenedor">
                Aquí va el contenido.
            </div> fin contenedor -->
              
        </div><!-- fin bgcontenido -->
    </div><!-- fin bg -->
    
    <div class="bgfooter">
    	<div class="s960 divcentrado" id="footer">
			            <div class="footertop">
                <ul id="menufooter">
                    <li>
                        <div class="despliegue">
                            <img src="images/img_microfinanzas.jpg" width="79" height="47" alt="Microfinanzas" />
                            <a href="microfinanzas.php" title="Microfinanzas">MICROFINANZAS</a>
                        </div>
                    </li>
                                      
                    <li>
                        <div class="despliegue">
                            <img src="images/img_educacion.jpg" width="79" height="47" alt="Educación Emprendedora" />
                            <a href="edu_emprendedora.php" title="Educación Emprendedora">EDUCACIÓN EMPRENDEDORA</a>
                        </div>
                    </li>
                    
                    <li>
                        <div class="despliegue">
                            <img src="images/img_escuelas.jpg" width="79" height="47" alt="Escuelas Autosuficientes" />
                            <a href="esc_autosuficientes.php" title="Escuelas Autosuficientes">ESCUELAS AUTOSUFICIENTES</a>
                        </div>
                    </li>
                    
                    <li>
                        <div class="despliegue">
                            <img src="images/img_teach.jpg" width="79" height="47" alt="Teach a man to fish" />
                            <a href="http://www.teachamantofish.org.uk/es/home.php" target="_blank" title="Teach a man to fish">TEACH A MAN TO FISH</a>
                        </div>
                    </li>                                         
                </ul><!-- fin menufooter -->
            </div><!-- fin footertop -->                
			            <div class="footerdown">
                
                <!-- <div class="alianzas s560 mr10"> -->
                <div class="alianzas s380 mr20">
                	<p>Trabajamos con:</p>
					<a href="http://www.kiva.org/" target="_blank" title="Kiva"><img src="images/alianzas/logo_kiva.png" alt="Kiva" /></a><!-- fin logo -->
                    <a href="http://www.skoll.com/" target="_blank" title="Skoll Foundation"><img src="images/alianzas/logo_skoll.png" alt="Skoll Foundation" /></a><!-- fin logo -->
                    <a href="http://www.teachamantofish.org.uk/es/home.php" target="_blank" title="Teach man to fish"><img src="images/alianzas/logo_teach.png" alt="Teach man to fish" /></a><!-- fin logo -->                    <!--<a href="#" title="Fundacion Paraguay"><img src="images/alianzas/sinlogo.jpg" width="80" height="57" alt="Fundacion Paraguaya" /></a>
                    <a href="#" title="Fundacion Paraguay"><img src="images/alianzas/sinlogo.jpg" width="80" height="57" alt="Fundacion Paraguaya" /></a>-->
                </div><!-- fin alianzas -->
                
                <div class="s100 left mr20 mt20">
                	<p style="color: #fff; font-size: 12px; float: left; margin-right: 10px;">Webmail:</p>
                    <!--<a href="http://mail.fundacionparaguaya.org.py:8081/" target="_blank" title="Webmail"><img src="images/ico_mail.png" width="16" height="16" alt="Mail" /></a> -->
                    <a href="https://mail.fundacionparaguaya.org.py/" target="_blank" title="Webmail"><img src="images/ico_mail.png" width="16" height="16" alt="Mail" /></a>
                </div><!-- fin redes -->
                
                <div class="redes s140 mr10">
                	<p>Seguinos:</p>
                    <a href="http://www.facebook.com/pages/Fundacion-Paraguaya/56540351830" target="_blank" title="Facebook"><img src="images/ico_facebook.jpg" width="17" height="17" alt="Facebook" /></a><!-- fin logo -->
                    <!--- <a href="#" title="Twitter"><img src="images/ico_twitter.jpg" width="17" height="17" alt="Twitter" /> </a> ---> <!-- fin logo --> 
                    <a href="http://www.youtube.com/user/fundapar" target="_blank" title="Youtube"><img src="images/ico_youtube.jpg" width="17" height="17" alt="Youtube" /></a><!-- fin logo -->
                </div><!-- fin redes -->
                            
                
        	</div><!-- fin footerdown -->
                
        </div><!-- fin footer -->
    </div><!-- fin bgfooter -->
</body>
</html>